div.eurojackpot {
  background-color: #e9e9e9;
  padding: 5px;
  border-radius: 5px;

  div.eurojackpot-header{
    border-bottom: 1px solid black;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #535353;

    span.highlighted{
      color: #97BD00;
    }
  }

  div.results {
    font-size: 12px;

    h2 {
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      color: #535353;
      border-bottom: 1px solid black;
    }

    ul.result-balls {
      padding-left: 0px;

      li{
        background: #fff;
        display: inline-block;
        border-radius: 30px;
        width: 30px;
        height: 30px;
        line-height: 26px;
        padding: 0;
        border: 2px solid #CCCCCC;
        text-align: center;
        font-size: 16px;
        margin-right: 6px;
        margin-bottom: 6px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        &.euro-number{
          border-color: #815422;
        }
      }
    }

    div.result-rows {
      span.tier {
        color: #999999;
      }

      span.numbers {

      }

      span.times {
        color: #999999;
        font-style: italic;
      }

      span.prize {
        font-size: 12px;
        line-height: 18px;
        color: #535353;
        font-weight: bold;
      }
    }

  }

}