div.top-component {
  height: 100%;
  min-width: 500px;
}

@media screen and (min-width: 850px) {

  div.top-component {
    width: 850px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

}